<div class="section-loggin">
  <div class="body">
    <div class="position-fixed top-0 m-2 m-sm-4">
      <button routerLink="/home" class="btn btn-warning">Home</button>
    </div>
    <div class="form-signin">
      <form [formGroup]="fgValidador" (ngSubmit)="getDataForm()">
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-bootstrap-fill"
          viewBox="0 0 16 16" style="color:black;">
          <path
            d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z" />
          <path
            d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z" />
        </svg>
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

        <div class="form-floating">
          <input formControlName="nombre" type="text" class="form-control" id="nombreCompletoInput" placeholder="Andres Felipe" required>
          <label for="nombreCompletoInput">Nombres</label>
          <div class="invalid-feedback">
            Por favor, coloque su nombre completo
          </div>
        </div>

        <div class="form-floating">
          <input formControlName="apellido" type="text" class="form-control" id="apellidosCompletoInput" placeholder="Perez Gomez" required>
          <label for="apellidosCompletoInput">Apellidos</label>
          <div class="invalid-feedback">
            Por favor, coloque sus apellidos completos
          </div>
        </div>

        <div class="form-floating">
          <input formControlName="celular" type="text" class="form-control" id="telefonoInput" placeholder="+673052478165" required>
          <label for="telefonoInput">Telefono</label>
          <div class="invalid-feedback">
            Por favor, coloque numero telefonico valido
          </div>
        </div>

        <div class="form-floating">
          <input formControlName="usuario" type="email" class="form-control" id="correoInput" placeholder="name@example.com" required>
          <label for="correoInput">Email address</label>
          <div class="invalid-feedback">
            Por favor, coloque un correo valido
          </div>
        </div>
        <div class="form-floating mb-4">
          <input formControlName="clave" type="password" class="form-control" id="contraInput" placeholder="Password" required>
          <label for="contraInput">Password</label>
          <div class="invalid-feedback">
            Por favor, coloque una contraseña valida
          </div>
        </div>

        <div class="checkbox">
          <button [disabled]="!fgValidador.valid" class="w-100 btn btn-lg btn-warning" type="submit">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>
